###############################################################################
# PLEASE NOTE: This file should be changed only by the maintainer.
# PLEASE NOTE: This file is only sourced if the "shutit build" command is run
#              and this file is in the relative path: configs/build.cnf
#              This is to ensure it is only sourced if _this_ module is the
#              target.
###############################################################################
# When this module is the one being built, which modules should be built along with it by default?
# This feeds into automated testing of each module.
[shutit.alert_on_change.alert_on_change.alert_on_change]
shutit.core.module.build:yes
# Allowed images as a regexp, eg ["ubuntu:12.*"], or [".*"], or ["centos"].
# It's recommended this is locked down as far as possible.
shutit.core.module.allowed_images:["ubuntu:14.04","imiell/alert_on_change.*"]

# Aspects of build process
[build]
base_image:imiell/alert_on_change

# Volume arguments wanted as part of the build
[target]
volumes:

[repository]
name:alert_on_change
