###############################################################################
# PLEASE NOTE: This file should be changed only by the maintainer.
# PLEASE NOTE: IF YOU WANT TO CHANGE THE CONFIG, PASS IN
#              --config configfilename
#              OR ADD DETAILS TO YOUR
#              ~/.shutit/config
#              FILE
###############################################################################
[target]
rm:false

[shutit.alert_on_change.alert_on_change.alert_on_change]                                                                                                                      
shutit.core.module.build:yes                                                                                                                                                  
shutit.core.module.allowed_images:["ubuntu:14.04","imiell/alert_on_change.*"]                                                                                                 
                                                                                                                                                                              
[build]                                                                                                                                                                       
base_image:ubuntu:14.04

[repository]
user:imiell
password:Dhazzard
email:ian.miell@gmail.com
tag:yes
push:yes
server:
tag_name:test
